.body {
    padding:45px;

    display:flex;
}

.container{
padding:10px;
display:flex;
flex-wrap: wrap;
}
.cardTitle{
    padding:1px;
    text-align: center;
    background-color: lightyellow;
}
.row{
    width: 150px;
    position: relative;
    padding:15px 15px 50px!important;
    border-radius: 5px !important;
    margin:5px !important;
    // display: none;
}
.coll{
    margin: 0 auto;
    margin:10px;
    padding: 10px;
    border: black solid 1px;
}
.CardButton{
    position: absolute !important;
    bottom: 20px !important;
}