.body{
    display: flex;
}

.title{
    font-size: larger;
    font-weight: 700;
    margin: 0 auto;
    padding-top: 100px;
    // display: flex;
    // flex-wrap: wrap;
}
.center{
    margin:0 auto;
    text-align: center;
    text-decoration: none !important;
    color:darkorange;
    border: 1px solid black;
}