.link{
    text-decoration: none;
    color: orange;
    font-weight: 700;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}
.appBar{
    display: flex !important;
    flex-wrap: nowrap;
}

.body{
    display: flex;
}